<app-header  backButton="/perfil" title="Configuraciones"></app-header>
<ion-content>


<!-------------------------------------------------------->
<ion-card class="card" style="text-align: center;">
   <form [formGroup]="form">
    <!--- Imagen de perfil-->
      <ion-avatar class="imagenperfil" *ngIf="form.controls['imagenPerfil'].value">
          <img [src]="form.controls['imagenPerfil'].value" alt="Imagen de perfil" />
      </ion-avatar>
      <!---Avatar generico-->
     <ion-icon
          class="icono" *ngIf="!form.controls['imagenPerfil'].value"
          name="image-outline"
          style="font-size: 3rem; color: #ccc;">
     </ion-icon>
     <br />
     <ion-button (click)="tomarImagen()" class="editar">
       Seleccionar Imagen
     </ion-button>
     <!-- Botón para guardar cambios -->
     <ion-button class="guardarimagen" (click)="guardarCambios()" *ngIf="form.valid" >
       Guardar Imagen
     </ion-button>
   </form>
 </ion-card>
 
<!-------------------------------------------------------->
<!-----------------------DATOS PERSONALES --------------------------------->
<ion-card class="card" style="text-align: center;">
 <h2>Datos personales</h2>
 <p>Actualiza tu información personal y de contacto</p>
   <ion-button [routerLink]="['/datospersonales']" class="editar"> editar información</ion-button>
</ion-card>

<!-------------------------------------------------------->
<!-----------------------PERFIL PROFESIONAL --------------------------------->
<ion-card class="card" style="text-align: center;">
<h2>Perfil profesional</h2>
<p>Antecedentes de estudios universitarios</p>
   <ion-button [routerLink]="['/datosprofesionales']" class="editar"> editar información</ion-button>
</ion-card>

<!-------------------------------------------------------->
<!-----------------------PREFERENCIAS ATENCION --------------------------------->
<ion-card class="card" style="text-align: center;">
   <h2>Atención médica</h2>
   <p>Personaliza los parámetros de atención</p>

      <ion-button [routerLink]="['/datosatencion']" class="editar"> editar información</ion-button>
   </ion-card>
   

<!-------------------------------------------------------->
<!-----------------------FIRMA PROFESIONAL--------------------------------->


</ion-content>
