.icono{

    font-size:100px;
    opacity: 30%;
    align-items: center;
    border-radius: 40px;
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    margin: 0 auto;
    align-items: center;

}

.card{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(255, 255, 255);
    border: 1px solid rgb(100, 181, 239);
    box-shadow: 0 0 0px;
    border-radius: 20px; 
}

.editar{
    --background: #ededed ;
    --color: #000000 ;
    --border-radius: 20px;
    --box-shadow: 0;
  
    margin-top: 20px;
    display: block;


  }
