<app-header  backButton="/tutores" title="Detalle tutor"></app-header>

<ion-content class="fondo">

  <!-----PERFIL----->
  <ion-card class="detalletutor">
    <ion-card-content>
    <h2>Datos tutor</h2>
    <br>


      <div *ngIf="tutor">
        <p><strong>Nombre:</strong> {{ tutor.Tutornombre }}</p>
        <p><strong>Apellidos:</strong> {{ tutor.Tutorapellidos }}</p>
        <p><strong>RUN:</strong> {{ tutor.Tutorrun }}</p>
        <p><strong>Dirección:</strong> {{ tutor.Tutordireccion }}</p>
        <p><strong>Ciudad:</strong> {{ tutor.Tutorciudad }}</p>
        <p><strong>Teléfono:</strong> {{ tutor.Tutortelefono }}</p>
        <p><strong>Email:</strong> {{ tutor.Tutoremail }}</p>
        <p><strong>Observaciones:</strong>{{tutor.Tutorobs}}</p>

      </div>
      <div *ngIf="!tutor">
        <p>No se han encontrado datos para este tutor </p>
      </div>

    </ion-card-content> 
  </ion-card>
  
  
  <!-----PERFIL----->

<!-------MASCOTAS-------->
<ion-card class="mascotas">
  <ion-card-content>
          <h2> Mascotas</h2>
          <h3>Nombre: </h3>
          <p><ion-icon name="especie"></ion-icon>Especie </p>
          <p><ion-icon name="estado"></ion-icon>Estado </p>
  </ion-card-content>
</ion-card>
<!-------MASCOTAS-------->

<ion-button class="boton-editar" (click)="enviarCorreoTutor()">
  Enviar Correo al Tutor
</ion-button>

<!------------------------------------->

<img src="" alt="">
</ion-content>
