.detalletutor{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(255, 255, 255);
    border: 1px solid rgb(100, 181, 239);
    box-shadow: 0 0 0px;
    border-radius: 20px; 
}

.mascotas{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgb(215, 235, 252);
    border: 1px solid rgb(100, 181, 239);
    box-shadow: 0 0 0px;
    border-radius: 20px;  
}

.agregar-mascota {
    position: fixed;
    top: 10%;
    left: 5%;
    right: 5%;
    z-index: 100;
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .cerrar-formulario {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    z-index: 10;
    --color: #ff8630;
    font-size: 20px;
  }