.detalletutor{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(255, 255, 255);
    border: 1px solid rgb(100, 181, 239);
    box-shadow: 0 0 0px;
    border-radius: 20px; 
}

.mascotas{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgb(215, 235, 252);
    border: 1px solid rgb(100, 181, 239);
    box-shadow: 0 0 0px;
    border-radius: 20px;  
}