<app-header  backButton="/tutores" title="Detalle tutor"></app-header>

<ion-content class="fondo">

  <!-----PERFIL----->
<ion-card class="detalletutor">
  <ion-card-content>
          <ion-card-title class="nombre">Nombre tutor</ion-card-title>
          <p><ion-icon name="run"></ion-icon>Run: </p>
          <p><ion-icon name="direccion"></ion-icon>Dirección: </p>
          <p><ion-icon name="ciudad"></ion-icon>Ciudad: </p>
          <p><ion-icon name="telefono"></ion-icon>Teléfono: </p>
          <p><ion-icon name="e-mail"></ion-icon>Email: </p>
          <p><ion-icon name="obs"></ion-icon>Observaciones: </p>

  </ion-card-content>
</ion-card>
  <!-----PERFIL----->

<!-------MASCOTAS-------->
<ion-card class="mascotas">
  <ion-card-content>
          <ion-card-title class="nombre">Nombre mascota</ion-card-title>
          <p><ion-icon name="especie"></ion-icon>Especie </p>
          <p><ion-icon name="estado"></ion-icon>Estado </p>
  </ion-card-content>
</ion-card>
<!-------MASCOTAS-------->

</ion-content>
