<app-header  backButton="/perfil" title="Datos personales"></app-header>

<ion-content class="fondo">



  <ion-card class="ion-card">
    
    <form [formGroup]="form" (ngSubmit)="actualizarDatos()">

      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellidos</ion-label>
          <ion-input type="text" formControlName="apellidos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">RUN</ion-label>
          <ion-input type="text" formControlName="run" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input type="tel" formControlName="telefono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Domicilio</ion-label>
          <ion-input type="text" formControlName="domicilio"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Región</ion-label>
          <ion-input type="text" formControlName="region"></ion-input>
        </ion-item>
      </ion-list>
  
      <ion-button expand="full" type="submit" [disabled]="form.invalid" shape="round">Actualizar información</ion-button>
    </form>

  </ion-card>



</ion-content>
