<!-- HEADER DESDE SHARED -->
<app-header title="CONFIGURACÓN"></app-header>
<!-- HEADER DESDE SHARED -->

<ion-content [fullscreen]="true" class="fondo">
<!--- especies de animales-->
  <ion-card class="ion-card">
    <ion-card-header>
      <ion-card-title>Animales</ion-card-title>
      <ion-card-subtitle>Selecciona los animales que atiendes</ion-card-subtitle>
    </ion-card-header>
  <!---->
  <ion-card-content>
  <ion-list>
    <ion-item *ngFor="let especie of especies" class="custom-item">
      <ion-label slot="start">{{ especie.nombreEspecie }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="especie.seleccionada" class="custom-checkbox"></ion-checkbox>
    </ion-item>
  </ion-list>

    <!-- Mostrar las especies seleccionadas -->
    <ion-list>
      <ion-item *ngFor="let especie of especiesSeleccionadas">
        <ion-label>{{ especie.nombreEspecie }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  </ion-card>
<!--- especies de animales-->

<!--- Tipos de muestras-->
  <ion-card class="ion-card">
    <ion-card-header>
      <ion-card-title>Tipos de muestras</ion-card-title>
      <ion-card-subtitle>Selecciona los tipos de muestras que necesitas</ion-card-subtitle>
    </ion-card-header>
  <!---->
  <ion-card-content>


    <ion-item>
      <ion-label>Seleccionar Muestras</ion-label>
      <ion-select [(ngModel)]="muestraSeleccionadas" multiple="true" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option *ngFor="let muestra of muestras" [value]="muestra">{{ muestra.tipoMuestra }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-list>
      <ion-item *ngFor="let muestra of muestraSeleccionadas">
        <ion-label>{{ muestra.tipoMuestra }}</ion-label>
      </ion-item>
    </ion-list>


  </ion-card-content>
  </ion-card>

<!--boton guardar -->
<ion-button expand="block" shape="round" style="padding: 20px;" routerLink = "casa" >
  Guardar cambios
</ion-button>
<!--BOTON PARA CONTINUAR-->
</ion-content>
