<!-- HEADER DESDE SHARED -->
<app-header title="Mascotas"></app-header>
<!-- HEADER DESDE SHARED -->

<ion-content class="fondo">


<!-----PERFIL----->
<ion-card class="perfil-card">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <!-- Columna para la imagen del perfil -->
        <ion-col size="auto" class="img-perfil">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Foto de perfil" class="profile-img">
        </ion-col>
        
        <!-- Columna para los datos del perfil -->
        <ion-col size="auto" class="datos-tutor">
          <ion-card-title>Nombre tutor</ion-card-title>
          <p>rut tutor</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button  expand="block" fill="clear" shape="round"> Editar</ion-button>
    <ion-button  expand="block" fill="clear" shape="round"> Eliminar</ion-button>
  </ion-card-content>
</ion-card>
<!-----PERFIL----->

<ion-card>
  <ion-card-header>
    <ion-card-title class="titulo">Mascotas</ion-card-title>
  </ion-card-header>
  <p>Listado de mascotas</p>
  <p>Llamar las mascotas del tutor segun ID = RUN</p>
</ion-card>


</ion-content>
