
<ion-content class="fondo">
  <p style="text-align: center;">
    Bienvenido! <br />Comencemos a crear tu cuenta en PetRecord
  </p>

    <!--Boton para volver-->
    <ion-button shape="round" color="light" routerLink = ''>
      <ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon>
    </ion-button>
      <!--Boton para volver-->

  <!-- Tipo de cuenta -->
  <ion-card class="ion-card">
    <ion-card-header>
      <ion-card-title>Tipo de cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="tipoCuenta">
        <ion-item>
          <ion-radio value="Veterinario">Veterinario</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="Tutor">Tutor</ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Perfil seleccionado:</ion-label>
          <ion-text>{{ tipoCuenta }}</ion-text>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>


  <!-- Sección solo visible para Veterinarios -->
  <ng-container *ngIf="tipoCuenta === 'Veterinario'">
  <!-- Datos personales -->
      <ion-card class="ion-card">
        <ion-card-header>
          <ion-card-title>Datos personales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-input [(ngModel)]="Vnombre" label="Nombre" placeholder="Ingrese nombre" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="Vapellidos" label="Apellidos" placeholder="Ingrese apellidos"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="Vrun" label="Rut" type="number" placeholder="00.000.000-0"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="Vtelefono" label="Teléfono" type="number" placeholder="+569-99999999" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="Vcorreo" label="Correo" type="email" placeholder="ejemplo@petrecord.com" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="Vpassword" label="Contraseña" type="password" placeholder ="**********" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input   [(ngModel)]="VconfirmPassword" label="Repite contraseña" type="password" placeholder="**********"></ion-input>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

    <!-- Perfil profesional -->
    <ion-card class="ion-card">
      <ion-card-header>
        <ion-card-title>PERFIL PROFESIONAL</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Universidad" placeholder="Ingrese universidad de egreso"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Numero de registro" type="number" placeholder="000"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Pais de registro" placeholder="Ingrese pais donde se otorgó"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Especialidad" placeholder="Ingrese especialidad"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Datos laborales -->
    <ion-card class="ion-card">
      <ion-card-header>
        <ion-card-title>DATOS LABORALES</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <!-- Pregunta si atiende en consulta -->
          <ion-item>
            <ion-label>¿Atiendes en clínica?</ion-label>
            <ion-toggle slot="end" [(ngModel)]="VatiendeClinica" (ionChange)="toggleClinica()"></ion-toggle>
          </ion-item>

          <!-- Sección de direcciones, visible solo si atiende -->
          <div *ngIf="VatiendeClinica">
            <ng-container *ngFor="let Vclinica of Vclinicas; let i = index">
              <ion-item>
                <ion-label>Clínica {{ i + 1 }}:</ion-label>
                <ion-input placeholder="Ingrese nombre clínica"></ion-input>
                <ion-icon name="trash-outline" slot="end" (click)="eliminarClinica(i)"></ion-icon>
              </ion-item>
            </ng-container>
            <ion-button (click)="agregarClinica()">Agregar nueva clínica</ion-button>
          </div>

          <!-- Opción adicional para atender a domicilio o particular -->
          <ion-item>
            <ion-label>¿Atiendes a domicilio?</ion-label>
            <ion-toggle slot="end" [(ngModel)]="VatiendeParticular"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Imagenes -->
    <ion-card class="ion-card">
      <ion-card-header>
        <ion-card-title>Imágenes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Ingrese imagen de perfil</ion-label>
          <ion-icon name="cloud-upload-outline" slot="end" (click)="fileInputPerfil.click()"></ion-icon>
          <input type="file" #fileInputPerfil hidden (change)="onFileChange($event, 'perfil')" />
        </ion-item>
        <ion-item>:
          <ion-label>Ingrese firma profesional</ion-label>
          <ion-icon name="cloud-upload-outline" slot="end" (click)="fileInputFirma.click()"></ion-icon>
          <input type="file" #fileInputFirma hidden (change)="onFileChange($event, 'firma')" />
        </ion-item>
        
      </ion-card-content>
    </ion-card>

  <!-- Terminos y condiciones -->
  <ion-item lines="none" class="terminos-condiciones">
    <ion-checkbox slot="start" [(ngModel)]="VaceptoTerminos"  aria-labelledby="checkbox-label" aria-required="true"> </ion-checkbox>
    <ion-label id="checkbox-label"> Estoy de acuerdo con  <a (click)="showTermsPopover($event)">términos y condiciones</a>
    </ion-label>
  </ion-item>
  
  

  <!-- Boton para continuar -->
  <ion-button expand="block" shape="round" style="padding: 20px;" (click)="registrarVeterinario()">
    Continuar
  </ion-button>

</ng-container>

  <!-- Sección solo visible para tutor -->
  <ng-container *ngIf="tipoCuenta === 'Tutor'">

<ion-card class="ion-card">
    <ion-item>
      <ion-input label="Ingrese codigo invitación:" placeholder="Codigo"required></ion-input>
    </ion-item>
      <!-- Boton para continuar -->
  <ion-button expand="block" shape="round" style="padding: 20px;">
    Continuar
  </ion-button>
  
</ion-card>



  </ng-container>
</ion-content>
