<app-header title="Bienvenido"></app-header>

<ion-content class="fondo">
<ion-grid>
<!-----PERFIL----->

<ion-card class="perfil-card" [routerLink]="['/configurarperfil']">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="auto" class="img-perfil">
          <ion-avatar *ngIf="imagenPerfil">
            <img [src]="imagenPerfil" alt="Imagen de perfil" />
          </ion-avatar>
          <ion-icon *ngIf="!imagenPerfil" name="image-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="auto" class="datos-medico">
          <ion-card-title class="nombre">{{ nombreUsuario }}</ion-card-title>
          <p class="run">RUN: {{ run }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>



  <!-----PERFIL----->

  <ion-row>
  <!---TUTORES--->
  <ion-col size="6">
    <ion-card  class="ion-card-importantes" [routerLink]="['/tutores']" >
      <ion-card-header>
        <div>
          <ion-icon name="paw-outline" class="icono2"></ion-icon>
          <ion-card-title>Tutores</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content class="texto">
        Agrega tutores y sus mascotas
      </ion-card-content>
    </ion-card>
  </ion-col>
  <!---TUTORES--->
  <!--- API--->
        <ion-col size="6">
          <ion-card class="ion-card-importantes" [routerLink]="['/api']" >
            <ion-card-header>
              <div>
                <ion-icon name="search-outline" class="icono2"></ion-icon>
                <ion-card-title>API</ion-card-title>
              </div>
            </ion-card-header>
            <ion-card-content class="texto">
              Listado de razas de perros.
            </ion-card-content>
          </ion-card>
        </ion-col>
  <!--- API--->

      <!---CONFIGURACION--->
      <ion-col size="12">
        <ion-card  class="ion-card-otros" [routerLink]="['/citas']" >
          <ion-card-header>
            <div>
              <ion-card-title>CITAS</ion-card-title>
            </div>
          </ion-card-header>
          <ion-card-content class="texto">
            Agrega una nueva cita medica
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---CONFIGURACION--->


  </ion-row>
</ion-grid>

</ion-content>
