<!-- HEADER DESDE SHARED -->

<!-- HEADER DESDE SHARED -->

<!-- CONTENIDO-->
<ion-content class="fondo">

<!---IMAGEN LOGO -->
<div style="padding-top: 100px;"> </div>
<app-logo> </app-logo>
<!---IMAGEN LOGO -->
<div style="padding: 5%">
    <ion-card class="ion-card">


        <h2 class="h2">Iniciar sesión</h2>
<!------------------>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <app-custom
              [control]="emailControl"
              icon="mail-outline"
              autocomplete="email"
              type="email"
              label="Correo"
            ></app-custom>
          
            <div class="validators" *ngIf="emailControl.errors && emailControl.touched">
              <div *ngIf="emailControl.errors?.['required']">El correo es obligatorio</div>
              <div *ngIf="emailControl.errors?.['email']">Ingresa un correo válido</div>
            </div>
          
            <app-custom
              [control]="passwordControl"
              icon="lock-closed-outline"
              type="password"
              label="Contraseña"
            ></app-custom>
          
            <div class="validators" *ngIf="passwordControl.errors && passwordControl.touched">
              <div *ngIf="passwordControl.errors?.['required']">La contraseña es obligatoria</div>
            </div>
          
            <ion-button type="submit" class="submit" [disabled]="form.invalid">
              Ingresar
              <ion-icon name="log-in-outline"></ion-icon>
            </ion-button>
          </form>
 <!------------------>         
          <div>
            <ion-button shape="round" color="light" routerLink="nuevousuario">
              Crear cuenta
            </ion-button>
          </div>
    
          <div>
            <ion-button class="botonolvido" routerLink="olvidocontrasena">
              Olvidé mi contraseña
            </ion-button>
          </div>
        </ion-card>
      </div>
    </ion-content>